﻿@model EventManager.Models.Event

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Event</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<h1>Üritusel osalevad</h1>
<ul>
    @foreach (EventManager.Models.Person person in Model.Persons)
    {
        <li>@person.FullName</li>
    }
</ul>
<div class="row"> @* siin on kolm varianti osaleja lisamist*@
    <div>
        <h2 class="col-sm-3">Lisa uus osaleja (nupuga)</h2>
        @*esimene variant pöördub People/Create/?EventId=x*@
        @*seega pöördub meetodi Create poole People controlleris*@
        @*ja annab parameetrina kaasa Eventi numbri*@
        @Html.ActionLink("Lisa uus osaleja", "Create", "People", new { EventId = Model.Id }, null)
    </div>
    <div class="col-sm-3">
        <h2>Lisa uus osaleja:</h2>
        @*teine variant kasutab vormi, kus uue osaleja nimi*@
        @*vormis on lisaks peidetud element - Eventi number*@
        @*vormi täitmisel saadetakse see actionile NewParticipant (Event controlleris)*@
        <form action="@Url.Action("NewParticipant")">
            <input type="hidden" name="EventId" value="@Model.Id" />
            <input type="text" name="FirstName" placeholder=".. eesnimi .." />
            <input type="text" name="LastName" placeholder=".. perenimi .." />
            <button type="submit">Salvesta ja lisa</button>
        </form>
    </div>
    <div class="col-sm-1"> </div>
    <div class="col-sm-3">
        <h2>Vali olemasolev osaleja:</h2>
        @*kolmas variant lisab osaleja olemasoleva rahva hulgast*@
        @*selleks on vormis dropdown, mis täidetud inimestega*@
        @*ja lisaks peidetud element eventi numbriga*@
        @*vormi täitmisel saadetakse see meetodile AddParitcipant (Event controlleris)*@
        <form action="@Url.Action("AddParticipant")">
            <input type="hidden" name="EventId" value="@Model.Id" />
            @*
                dorpdowni andmed tulevad läbi ViewBagi, kusjuures
                PersonId on nii ViewBag-i pandud SelectListi nimi, 
                kui ka dropdown välja nimi, mis ehitatakse ja saadetakse
            *@
            @Html.DropDownList("PersonId", null, ".. vali osaleja ..")
            <button type="submit">Lisa</button>
        </form>
    </div>
</div>

